@charset "utf-8";
body {
    background: url(../images/NTUBG.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
@font-face {
    font-family: myfont;
    src: url("../fonts/UTM Helve.ttf");
}
.header {
    background-color:red
}
.container-fluid {
    background-color:#0186BD;
     
}
.navbar-default .navbar-nav > li > a {
    color:white
}
.navbar-default .navbar-brand {
    color:white
}
/* CSS Document */
.title h1{font-size:18px; padding-left:8px; color:#09F;}
.title h2{font-size:16px; padding-left:8px; color:#444; font-weight:bold}
#tapchi h2{font-size:16px; padding-left:8px; color:#444; font-weight:bold}
.bgWhite { background-color:#ffffff;}
.firstCon { margin-top:-19px; min-height:460px}
.page-footer {border-top:#DDD thin dashed; padding-top:5px; margin-top:5px; color:#0CF; font-size:12px; background-color:gray}

/*CSS publication*/
.citation_title {font-style:italic; color: darkorange;}

.tabs li {
        list-style:none;
        display:inline;
    }
 
    .tabs a {
        padding:5px 10px;
        display:inline-block;
        background:#666;
        color:#fff;
        text-decoration:none;
    }
 
    .tabs a.active {
        background:#667788;
        color:#000;
    }