@charset "utf-8";
/* CSS Document */
.title h1{font-size:18px; padding-left:8px; color:#09F;}
.title h2{font-size:16px; padding-left:8px; color:#444; font-weight:bold}

.bgWhite { background-color:#ffffff;}
.firstCon { margin-top:-19px; min-height:460px}
.page-footer {border-top:#DDD thin dashed; padding-top:5px; margin-top:5px; color:#0CF; font-size:12px}

/*CSS publication*/
.TacGiaChinh {font-weight:bold}
.TacGiaKhac {padding-left:2px}
.Nam {padding-left:2px;}
.TieuDeBaiBao {font-style:italic}

.tabs li {
        list-style:none;
        display:inline;
    }
 
    .tabs a {
        padding:5px 10px;
        display:inline-block;
        background:#666;
        color:#fff;
        text-decoration:none;
    }
 
    .tabs a.active {
        background:#667788;
        color:#000;
    }